*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
#gallery{
    display: flex;
    width: 440px;
    height: 200px;
}
#gallery img{
    min-width: 0px;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: .5;
    transition: .5s;
}
#gallery img:hover{
    flex: 1 1 200px;
    opacity: 1;
}
#input{
    text-align: center;
}

nav{
    cursor: pointer;
}
nav:nth-child(odd){
    background-color: #c0c0c0;
}
nav.checked{
    text-decoration: line-through;
    color: white;
    background-color: dimgray;
}

.update-controller{
    display: none;
}
span{
    padding-left: 2rem;
    pointer-events: none;
}
.width{
    margin: auto;
    width: 300px;
}
#alert{
    margin-top: 1rem;
}
.deleteBtn:hover{
    color: #ff0000;
    cursor: pointer;
}